.layout-header {
    background-color:black; /* Darker blue for header background */
    color: whitesmoke; /* Light blue for text contrast */
    padding: 10px;
}

.layout-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.layout-nav ul li {
    margin: 0 10px;
}

.layout-nav ul li a {
    color: #dbe9f5; /* Light blue for links */
    text-decoration: none;
    font-size: 18px;
}

.layout-nav ul li a:hover {
    text-decoration: underline;
    color: #c8d6f5; /* Softer blue for hover effect */
}

.layout-content {
    padding: 20px;
    background-color: whitesmoke; /* Softer blue for content background */
    color: black; /* Dark text for contrast */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}