.layout-header {
    max-width: 1200px;
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    margin: 0 auto 20px;
}

.layout {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.layout-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.layout-nav ul li {
    margin: 0 10px;
}

.layout-nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black);
}

.layout-nav ul li a.active {
    font-weight: bold;
    color: var(--black);
    border-bottom: 2px solid var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}

