@import './layout/MainLayout.css';

/* List group styles */

/* src/components/CommonStyles.css */

.list-group-container {
    flex-grow: 1;
    overflow-y: auto;
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the list group */
}

.list-group-item {
    background-color: var(--secondary-color-cream);
    color: var(--on-highlight-color);
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    border: 1px solid var(--secondary-color-olive);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 0.9rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.list-group-item:last-child {
    border-bottom: none;
}

/* Button styles */

.button-container {
    display: flex;
    gap: 0.5rem;
}

.btn-submit, .btn-clear, .btn-abort {
    background-color: var(--highlight-color);
    border-color: var(--secondary-color);
    color: var(--on-highlight-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0.3rem 0.6rem; /* Adjust padding to make buttons smaller */
    font-size: 0.8rem; /* Adjust font size to make buttons smaller */
}

.btn-submit:hover, .btn-clear:hover, .btn-abort:hover {
    background-color: var(--highlight-color);
    color: var(--on-highlight-color);
    box-shadow: 0 6px 8px var(--shadow-color);
}

.btn-clear {
    background-color: var(--highlight-color);
    border-color: var(--secondary-color);
    color: var(--on-highlight-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-clear:hover {
    background-color: var(--highlight-color);
    color: var(--on-highlight-color);
    box-shadow: 0 6px 8px var(--shadow-color);
}

.btn-abort {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--on-highlight-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-abort:hover {
    background-color: var(--highlight-color);
    color: var(--on-highlight-color);
    box-shadow: 0 6px 8px var(--shadow-color);
}

.message {
    color: var(--on-highlight-color);
    text-align: center;
    margin-top: 1rem;
}

